In [0]:
pip install pymongo

Python interpreter will be restarted.
Requirement already satisfied: pymongo in /local_disk0/.ephemeral_nfs/envs/pythonEnv-fd208c6a-0791-4926-ab58-4d7183efd2f8/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-fd208c6a-0791-4926-ab58-4d7183efd2f8/lib/python3.9/site-packages (from pymongo) (2.7.0)
Python interpreter will be restarted.

In [0]:
from pymongo import MongoClient
import pandas as pd

In [0]:
uri = "mongodb+srv://onkarmane53:pwskillsonkar@cluster0.kadj7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"


client = MongoClient(uri)
db =client["inventory"]
collection = db['supply_chain_data']

In [0]:
data = list(collection.find())

In [0]:
df = pd.DataFrame(data)

In [0]:
df.head()

,_id,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,67a87376bb8a275c6f13c847,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
1,67a87376bb8a275c6f13c849,haircare,SKU5,1.699976,87,147,2828.348746,Non-binary,90,27,...,Bangalore,10,104,17,56.766476,Fail,2.779194,Road,Route A,235.461237
2,67a87376bb8a275c6f13c859,cosmetics,SKU21,84.893869,60,601,7087.052696,Unknown,69,25,...,Chennai,19,791,4,61.735729,Pending,0.018608,Air,Route C,523.360915
3,67a87376bb8a275c6f13c86c,skincare,SKU40,80.541424,97,933,5724.959350,Female,90,20,...,Kolkata,18,793,1,88.179407,Pending,4.213269,Road,Route A,529.808724
4,67a87376bb8a275c6f13c875,cosmetics,SKU49,78.897913,19,99,8001.613207,Unknown,97,24,...,Delhi,28,177,28,14.147815,Pass,2.825814,Rail,Route A,336.890169

In [0]:
df.drop(columns="_id",inplace=True)

In [0]:
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
1,haircare,SKU5,1.699976,87,147,2828.348746,Non-binary,90,27,66,...,Bangalore,10,104,17,56.766476,Fail,2.779194,Road,Route A,235.461237
2,cosmetics,SKU21,84.893869,60,601,7087.052696,Unknown,69,25,7,...,Chennai,19,791,4,61.735729,Pending,0.018608,Air,Route C,523.360915
3,skincare,SKU40,80.541424,97,933,5724.959350,Female,90,20,39,...,Kolkata,18,793,1,88.179407,Pending,4.213269,Road,Route A,529.808724
4,cosmetics,SKU49,78.897913,19,99,8001.613207,Unknown,97,24,9,...,Delhi,28,177,28,14.147815,Pass,2.825814,Rail,Route A,336.890169

In [0]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import col , date_format 
from pyspark.ml.feature import VectorAssembler 
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator

In [0]:
pd

Out[9]: <module 'pandas' from '/databricks/python/lib/python3.9/site-packages/pandas/__init__.py'>

In [0]:
spark = SparkSession.builder.appName("Supply Chain prine inventory price prediction").getOrCreate()
inventory_df = spark.createDataFrame(df)

In [0]:
inventory_df.columns

Out[11]: ['Product type',
 'SKU',
 'Price',
 'Availability',
 'Number of products sold',
 'Revenue generated',
 'Customer demographics',
 'Stock levels',
 'Lead times',
 'Order quantities',
 'Shipping times',
 'Shipping carriers',
 'Shipping costs',
 'Supplier name',
 'Location',
 'Lead time',
 'Production volumes',
 'Manufacturing lead time',
 'Manufacturing costs',
 'Inspection results',
 'Defect rates',
 'Transportation modes',
 'Routes',
 'Costs']

In [0]:
inputColumn = ['Price','Stock levels']

In [0]:
assembler = VectorAssembler(inputCols=["Price",'Stock levels'],outputCol="features")
data = assembler.transform(inventory_df).select("features","price")

In [0]:
assembler

Out[30]: VectorAssembler_b275dc9e01a7

In [0]:
data.show()

+--------------------+------------------+
|            features|             price|
+--------------------+------------------+
|[61.1633430164377...|61.163343016437736|
|[1.69997601386593...|1.6999760138659377|
|[84.8938689849508...| 84.89386898495083|
|[80.5414241709403...| 80.54142417094033|
|[78.8979132056400...| 78.89791320564004|
|[83.8510176813046...|  83.8510176813046|
|[6.30688317611191...| 6.306883176111915|
|[72.8192069303182...| 72.81920693031822|
|[16.1603933173799...|16.160393317379977|
|[9.81300257875405...| 9.813002578754052|
|[14.2034842648030...|14.203484264803022|
|[20.9863860370433...|20.986386037043378|
|[87.7554323540010...| 87.75543235400107|
|[92.5573608124020...| 92.55736081240202|
|[23.3998447526143...| 23.39984475261435|
|[59.8415613772893...| 59.84156137728931|
|[52.0287499032949...| 52.02874990329492|
|[72.7963539555873...| 72.79635395558736|
|[13.0173767852878...|13.017376785287857|
|[47.9145418240587...|47.914541824058766|
+--------------------+------------------+
only showing top 20 rows

In [0]:
train_data,test_data = data.randomSplit([.8,.2])

In [0]:
rf = RandomForestRegressor(featuresCol="features",labelCol="price",numTrees=100)
model = rf.fit(train_data)

In [0]:
model = rf.fit(train_data)

In [0]:
prediction = model.transform(test_data)

In [0]:
evalautor = RegressionEvaluator(labelCol="price",predictionCol="prediction",metricName="rmse")
evalautor.evaluate(prediction)

Out[37]: 3.6898325535959873

In [0]:
prediction.show()

+--------------------+------------------+------------------+
|            features|             price|        prediction|
+--------------------+------------------+------------------+
|[14.2034842648030...|14.203484264803022|16.646357852822593|
|[36.9892449286269...| 36.98924492862691|40.359328418425044|
|[72.7963539555873...| 72.79635395558736| 68.67592870777472|
|[89.1043672921022...| 89.10436729210225| 87.42457225901599|
|[14.8435232750843...| 14.84352327508434|15.952139703710788|
|[27.0822071998889...|  27.0822071998889|30.759907027547747|
|[4.80549603634589...| 4.805496036345893| 9.488495178255015|
|[11.7432717763092...| 11.74327177630924|12.151067154872587|
|[19.9981769404042...| 19.99817694040422|18.742173325994678|
|[57.0570312211032...| 57.05703122110322| 64.14477265638624|
|[64.0157329412785...| 64.01573294127854| 69.18684580290923|
|[68.7175967485273...| 68.71759674852733| 72.01127936970259|
+--------------------+------------------+------------------+

In [0]:
df_prediction = prediction.select('price','prediction').toPandas()

In [0]:
df_prediction

,price,prediction
0,14.203484,16.646358
1,36.989245,40.359328
2,72.796354,68.675929
3,89.104367,87.424572
4,14.843523,15.952140
5,27.082207,30.759907
6,4.805496,9.488495
7,11.743272,12.151067
8,19.998177,18.742173
9,57.057031,64.144773
10,64.015733,69.186846
11,68.717597,72.011279

In [0]:
collection_prediction = db['prediction_data']
data_dict= df_prediction.to_dict(orient="records")
collection_prediction.insert_many(data_dict)

Out[48]: InsertManyResult([ObjectId('67aef69d9e62dc8ba876ce68'), ObjectId('67aef69d9e62dc8ba876ce69'), ObjectId('67aef69d9e62dc8ba876ce6a'), ObjectId('67aef69d9e62dc8ba876ce6b'), ObjectId('67aef69d9e62dc8ba876ce6c'), ObjectId('67aef69d9e62dc8ba876ce6d'), ObjectId('67aef69d9e62dc8ba876ce6e'), ObjectId('67aef69d9e62dc8ba876ce6f'), ObjectId('67aef69d9e62dc8ba876ce70'), ObjectId('67aef69d9e62dc8ba876ce71'), ObjectId('67aef69d9e62dc8ba876ce72'), ObjectId('67aef69d9e62dc8ba876ce73')], acknowledged=True)